.input{
  padding: 5px 4px;
  border:1px solid #ccc;
  border-radius: 5px;
  outline: none;
  width: 20rem;
}

.input:focus{
  border: 2px solid blueviolet;
}

.formControl{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 25rem;
  margin-bottom: 1rem;
}

.btn{
  border: 1px solid #6d28d9;
  border-radius: 5px;
  outline: none;
  padding: 5px 10px;
  cursor: pointer;
}

.addTodo{
  color: #fff;
  background-color: #6d28d9;
}

.updateTodo{
  color: #fff;
  background-color: #c29ffa;
  border: none;
}

@media screen and (max-width:768px) {
  .input{
    width: 10rem;
  }
  .formControl{
    width: 15rem;
  }
}